/* src/components/titulo/titulo.module.css */
.titulo {
    font-family: 'League Spartan', sans-serif;
    color: #4838CB;
    font-size: 2rem; /* Ajustar tamanho responsivo */
    cursor: pointer;
    margin: 0;
    max-width: 20%; /* Max width ajustável */
    min-width: 80px; /* Ajustar min width para telas menores */
  }
  