/* src/pages/ingressou/ingressou.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background: linear-gradient(to bottom, #F7F9FC, #AFBBC6);
  }
  