/* src/components/menu/menu.module.css */
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4538C3;
    border-radius: 15px;
    height: 2.5rem; /* Altura igual à da SearchBar */
    width: 20vw; /* Comprimento ajustável */
    max-width: 333px; /* Máximo ajustável */
    min-width: 80px; /* Min width para telas pequenas */
  }
  
  .menuItem {
    color: white;
    cursor: pointer;
    padding: 0 5px;
    display: flex;
    align-items: center;
  }
  
  .menuItem:hover {
    text-decoration: underline;
  }
  
  .icon {
    color: white; /* Cor do ícone */
    font-size: 1.25rem; /* Reduzir tamanho do ícone */
  }
  
  .userInfo {
    display: flex;
    align-items: center;
    padding-left: 0.5rem; /* Adicionar padding ao item 4 */
  }
  
  .userName {
    font-family: 'League Spartan', sans-serif;
    color: white;
    margin-right: 8px;
    font-size: 1rem; /* Reduzir tamanho do texto */
  }
  
  .userPhoto {
    width: 1.5rem; /* Reduzir tamanho da foto */
    height: 1.5rem;
    border-radius: 50%;
  }
  