/* src/components/searchbar/searchbar.module.css */
.searchbar {
  width: 40vw; /* Ajustável para resoluções diferentes */
  max-width: 600px; /* Máximo de 600px */
  min-width: 200px; /* Min width para telas pequenas */
  height: 3.125rem; /* Equivalente a 50px */
  border: 3px solid #4838CB;
  border-radius: 15px;
  padding: 0 1rem;
  font-size: 1rem;
  color: #AFBBC6;
  outline: none;
}

.searchbar::placeholder {
  color: #AFBBC6;
}
