/* src/components/header/header.module.css */
.header {
    width: 93%;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    height: 8vh; /* Usar 8vh para a altura do header */
    position: -webkit-sticky; /* Para compatibilidade com Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Garantir que o header fica sobre outros elementos */
    background: rgba(255, 255, 255, 0.4); /* Cor de fundo com 40% de opacidade */
    backdrop-filter: blur(20px); /* Efeito de desfoque reduzido pela metade */
    
  }
  